.about-me {
    padding: 2rem 0;
    overflow: hidden;
}

.about-me .about-heading {
    color: #25b79f;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.about-content p {
    font-size: 16px;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.skills .skills-heading {
    width: 80%;
    margin: auto;
}

.skills-heading {
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;
    align-items: center;
    gap: 0.5rem;
}

.about-me .about-content {
    display: flex;
    flex-wrap: wrap;
}

.about-content .left-content {
    text-align: center;
}
.skills-icon{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;

}

.skills-heading span {
    font-weight: 600;
    color: #25b79f;
    overflow: hidden;
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

.infosss {
    font-size: 15px;
    font-weight: 500;
    color: #25b79f;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}


.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-bottom: 4rem;
}
.subgallery{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    gap: 0.7rem;
    align-items: center;
}

.gallery span {
    color: #25b79f;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Roboto Slab', serif; 
    overflow: hidden;
}

.gallery img {
    width: 100%;
    margin: auto;
}

@media screen and (min-width:600px) {
    .about-me {
        padding: 6rem 0;
        overflow: hidden;
    }

    .about-me .about-heading {
        color: #25b79f;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        overflow: hidden;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-content p {
        font-size: 18px;
        width: 80%;
        padding: 1.5rem 2.3rem;
        text-align: center;
        margin: auto;
    }

    .less-seen {
        color: rgba(0, 0, 255, 0.281);
        cursor: pointer;
    }

    .less-seen:hover {
        color: rgba(190, 18, 70, 0.623);
        cursor: pointer;
    }

    .skills .skills-heading {
        font-size: 30px;
        font-weight: 600;
        /* color: #25b79f; */
        text-align: center;
    }

    .about-me .about-content {
        display: flex;
        flex-wrap: wrap;
    }

    .about-content .left-content {
        text-align: center;
    }

    .skills-heading {
        overflow: hidden;
    }

    .skills-heading h1 {
        text-align: left;
    }


    .infosss {
        font-size: 1rem;
        font-weight: 500;
        overflow: hidden;

    }


    .work-arrow {
        margin: 3rem 0;
    }

    .work-arrow a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #25b79f;
    }
}