.about-me {
    padding: 2rem 0;
    overflow: hidden;
}

.about-me .about-heading {
    color: #25b79f;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.photoids {
    background-image: url('../Assets//blob-haikei.png');
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    animation: swing;
    animation: bounceInLeft;
    animation-duration: 3s;
    animation-delay: 2s;
    margin-top: 1rem;
}

.photosid img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 70%;
    --_p: 100%;
    filter: grayscale(100%);
    z-index: 500;
    animation: swing;
    animation-duration: 10s;
    animation-delay: 5s
}


.about-content p {
    font-size: 16px;
    padding: 1rem;
}

.skills .skills-heading {
    font-size: 15px;
    font-weight: 600;
    color: #25b79f;
    text-align: center;
}

.about-me .about-content {
    display: flex;
    flex-wrap: wrap;
}

.about-content .left-content {
    text-align: center;
}

.skills-heading h1 {
    overflow: hidden;
    margin-top: 3rem;
    font-size: 1.2rem;
}

.infosss {
    font-size: 15px;
    font-weight: 500;
    color: #25b79f;
    margin: 10px;
}


.skills-bar .bar .progress-line {
    height: 15px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.work-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color: #25b79f;
    display: none;
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.gallery h2 {
    color: #25b79f;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 3rem 0;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    margin: auto;
}

@media screen and (min-width:600px) {
    .about-me {
        padding: 6rem 0;
        overflow: hidden;
    }

    .about-me .about-heading {
        color: #25b79f;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        overflow: hidden;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about-content img {
        height: 200px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;

    }

    .about-content p {
        font-size: 18px;
        width: 80%;
        color: #f0f0e6;
        padding: 1.5rem 2.3rem;
        text-align: center;
        color: #25b79f;
        margin: auto;
    }

    .less-seen {
        color: rgba(0, 0, 255, 0.281);
        cursor: pointer;
    }

    .less-seen:hover {
        color: rgba(190, 18, 70, 0.623);
        cursor: pointer;
    }

    .skills .skills-heading {
        font-size: 30px;
        font-weight: 600;
        color: #25b79f;
        text-align: center;
    }

    .about-me .about-content {
        display: flex;
        flex-wrap: wrap;
    }

    .about-content .left-content {
        text-align: center;
    }

    .skills-heading {
        overflow: hidden;
    }

    .skills-bar {
        padding: 25px 30px;
        overflow: hidden;
    }

    .skills-bar .bar {
        margin: 25px 0;
        overflow: hidden;
    }

    .infosss {
        font-size: 1rem;
        font-weight: 500;
        overflow: hidden;

    }

    .skills-bar .bar .progress-line {
        height: 20px;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }

    @keyframes animate {
        100% {
            transform: scaleX(1);
        }
    }

    .work-arrow {
        margin: 3rem 0;
    }

    .work-arrow a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #25b79f;
    }
}