.cvs{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  
}

.mycv {
    overflow: hidden;
    margin-bottom: 20px;
    color: #07374a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .mycvbutton {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    background-color: #25b79f;
    color: #07374a;
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    width: 230px;
  }
  
  .mycvsmall {
    color: #07374a;
    z-index: 500;
    width: 100%;
  }
  
  .button-icon {
    display: inline-flex;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    border-left: 1px solid #07374a;
    color: #07374a;
  }
  
  .mycvbutton:hover {
   background-color: #33f1d2;
   
  }