* {
  overflow-x: hidden;
}

.mynavbars {
  position: fixed;
  width: 100%;
  z-index: 500;
  background: linear-gradient(0deg, rgba(1, 5, 15, 0.541) 0%, rgba(4, 66, 66, 0.705) 100%);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
}
.navars-branding{
  overflow: hidden;
  margin-top: 0.3rem;
}
.darktoggle{
  margin-top: 0.7rem;
}

.navbar {
  position: fixed;
}

.menu-items {
  display: none;
}

.navbar-contents{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}
.mainitems-content{
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width:768px) {
  .myoffcanvas,
  .mycanvas{
    display: none;
  }

  .navbar-contents{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0.5rem;
    gap: 2rem;
    align-items: center;
  }
  .mainitems-content{
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    transition: translate 0.3s;

  }

  .menu-items li {
    list-style: none;
    overflow: hidden;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
  }
  .menu-items a {
    text-decoration: none;
    color: rgb(206, 202, 202);
    font-size: 1.2rem;
    padding: 0.3rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
  }
  .menu-items a:hover {
    color: #25b79f;
  }

}