.progressive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
    /* gap: 1rem; */
    text-align: left;
    justify-content: space-between;
    /* padding-top: 1.7rem; */
}
.frontend{
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  

}

@media screen and (min-width:600px) {
    .progressive{
        width: 70%;
        margin: auto;
    }
    
}